.statusbar {
    width: 100%;
    z-index: 1000;
    position: absolute;
    background-image: url('/images/topbar_background.png');
    color: whitesmoke;
    font-size: 2rem;
    padding: .5rem;

    .totals {
        float: right;
        padding-right: 2rem;
    }
}