<html>
  <head>
    <link href="/css/underPressure.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Splash screen -->
    <splash-screen></splash-screen>
    <!-- Game End -->
    <game-end></game-end>

    <!-- Header -->
    <status-bar v-ref:statusbar></status-bar>
    <div class="position-marker"><img src="/images/pirate_logo.png" /></div>



    <!-- Map -->
    <pirate-map style="width: 100%; height: 100%; position: absolute; left:0; top:0"

                :center.sync="{lat: user.position.coords.latitude, lng: user.position.coords.longitude}"
                :zoom.sync="20"
                :options="{draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true, streetViewControl: false}">
        <!--:center.sync="{lat: user.position.coords.latitude, lng: user.position.coords.longitude}"-->
        <!--:zoom.sync="20"-->
        <!--:options=""-->
        <!--:styles='[{-->
        <!--"featureType": "water",-->
        <!--"elementType": "geometry",-->
        <!--"stylers": [-->
        <!--{-->
        <!--"color": "#000000"-->
        <!--},-->
        <!--{-->
        <!--"lightness": 20-->
        <!--}-->
        <!--]-->
        <!--}]'-->
        <!--&gt;-->
        <marker
                v-for="coin in coins"
                :position.sync="coin.position"
                :clickable.sync="false"
                :draggable.sync="false"
                :icon.sync="{url: '/images/pirate-coin.png'}"
        ></marker>

        <marker
                v-for="whiteTipi in whiteTipis"
                :position.sync="whiteTipi"
                :clickable.sync="false"
                :draggable.sync="false"
                :icon.sync="{url: '/images/white-tipi.png'}"
        ></marker>
        <marker
                v-for="orangeTipi in orangeTipis"
                :position.sync="orangeTipi"
                :clickable.sync="false"
                :draggable.sync="false"
                :icon.sync="{url: '/images/orange-tipi.png'}"
        ></marker>
        <marker
                v-for="largeTipi in largeTipis"
                :position.sync="largeTipi"
                :clickable.sync="false"
                :draggable.sync="false"
                :icon.sync="{url: '/images/large-tipi.png'}"
        ></marker>

        <ground-overlay
                source="./images/map-overlay.png"
                :bounds="{
                      north: 52.373918,
                      south: 52.37138,
                      east: 5.637865,
                      west: 5.63228
                  }"
                :opacity="1"
        ></ground-overlay>
    </pirate-map>

    <script src="/js/underPressure.js"></script>
</body>
</html>
