.splashscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #8BB9F0;
  box-sizing: content-box;
}

.logo {
  display: block;
  position: absolute;
  top: 80px;
  left: 43%;
  background-image: url('/images/pirate_logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 237px;
  height: 252px;
}